<% content_for :body do %>
<div id='content' class='row-fluid'>
  <div class='span9 main'>
    <h2>建设中~</h2>
    <p>
      关于手机--就刷plus，什么时候刷到什么时候买！刷不到就不换了!!
    </p>
    <p>
      ...第二天买了个一加
    </p>
  </div>
</div>
<% end %>
